body{
    font-family: helvetica;
}
.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container::before{
    content: '';
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    opacity: 0.2;
    z-index: -1;
    }
    img{
        width: 100%;
    }
    select{
        width: 300px;
        margin: 10px;
    }
    .fruit{
        margin: 0 auto;
        background-color: white;
        border: 2px solid aliceblue;
    }